a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  color: rgba(88, 137, 58);
  transition: 0.3s;
}

.main-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.main-header h2 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(143, 143, 143, 0.493);
}

.main-header img {
  width: 150px;
  border-radius: 1000px;
  box-shadow: 5px 5px 5px #c4c4c4;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-nav2 ul {
  display: flex;
  gap: 20px;
  padding: 10px;
  list-style-type: none;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(143, 143, 143, 0.493);
}
