.main-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.main-header h2 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(143, 143, 143, 0.493);
}

.main-header img {
  width: 150px;
  border-radius: 1000px;
  box-shadow: 5px 5px 5px #c4c4c4;
}

.main-nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav2 ul {
  display: flex;
  gap: 20px;
  padding: 10px;
  list-style-type: none;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(143, 143, 143, 0.493);
}
